body{
    padding-top: 40px;
    text-align: center;
    background: lightblue;
    font-family: 'Fjalla One', sans-serif;
}

button{
    padding: 12px;
    border-radius: 50%;
    border: 1px solid black;
    background: azure;
    font-family: 'Fjalla One', sans-serif;
}

button:hover{
   background: black;
   color: azure;
}

input{
    padding: 3px;
    font-size: 14px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center; 
    border: 1px solid black;
    border-radius: 15px;
    background: azure;
}
.winner{
    color: green;
}
.button-row{
    background-color: aliceblue;
    margin: 3% 35%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
}